<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taskNest</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='style.css') }}">
</head>
<body>
<table>
    <tr>
        <th>S. No.</th>
        <th>Tasks</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in data %}
    <tr>
        <td align="center">{{ loop.index }}</td>
        {% if id == i.id %}
        <form method="POST" action="/edit/{{ i.id }}">
            <td>
                <input type="text" name="edited_task" value="{{ task_to_edit.data }}">
            </td>
            <td colspan="2"><input type="submit" value="Submit"></td>
        </form>
        {% else %}
        <td>{{ i.data }}</td>
        <td><form method="GET" action="/edit/{{ i.id }}">
            <input type="submit" value="Modify">
        </form></td>
        <td><form method="POST" action="/delete/{{ i.id }}">
            <input type="submit" value="Delete">
        </form></td>
        {% endif %}
    </tr>
    {% endfor %}
    <form method="POST">
        <tr>
            <td></td>
            <td>
                <input type="text" name="task_data" placeholder="Add task">
            </td>
            <td colspan="2"><form method="POST">
                <input type="submit" value="Submit">
            </form></td>
        </tr>
    </form>
</table>
<div id="info">
    {% if not get_flashed_messages() %}
    <p>Welcome!</p>
    {% else %}
    {% for msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
    {% endfor %}
    {% endif %}
</div>
<div>
    This is my first flask project. Learned a lot of things along the way.
    This site was made using:
    <ul>
        <li>Python & Flask (as backend)</li>
        <li>HTML & CSS (as frontend)</li>
        <li>SQLite (as DB)</li>
    </ul>
    View page source: <a href="https://github.com/krishnams0ni/taskNest" target="_blank">Here</a><br>
    Know more about me: <a href="https://krishnams0ni.github.io/" target="_blank">Here</a>
</div>
</body>
</html>
